html,
body {
  height: 100%;
  width: 100%;
  font-family: Verdana, arial, sans-serif;
}

.sidebar{
  background: url(../img/Fondos/fondo_nav.png);
}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 61px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.profile-image{
  width: 40px;
  height: 40px;
}

li a{
  color: white;
}
li a:hover{
  color: #FF6F40;
}

.grupo-navegacion a img{
  width: 30px;
  height: 30px;
}


hr {
color: #f8b500;
background-color: #f8b500;
height: 5px;
border:none;}



