.navbar{
	box-shadow: 2px 2px 5px #FF7153;
}

.navbar .nav-item .nav-link{
	color:white;
}

.main-header{
	background: url(../img/Fondos/fondo3.jpg);
	background-size: cover;

}
.background-overlay{
	background: rgba(232, 65, 24,0.4)

} 